$theme-bg: #111;
$theme-bg-alt: #333;
$theme-fg: #fff;

$theme-dark: #000;

$theme-color-1: #eab74b;
$theme-color-2: #80ea4b;
$theme-color-3: #b04bea;

$color-w-1: #fff;
$color-w-2: #eee;
$color-w-3: #ddd;
$color-w-4: #ccc;
$color-w-5: #bbb;
$color-w-6: #aaa;
$color-w-7: #999;
$color-w-8: #888;

$color-b-1: #000;
$color-b-2: #111;
$color-b-3: #222;
$color-b-4: #333;
$color-b-5: #444;
$color-b-6: #555;
$color-b-7: #666;
$color-b-8: #777;