// Window

.os-panel{
  position: relative;

  background-image: url('/assets/images/Logo.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 80px 80px;;
}

.window {
  position: absolute;
  border: 1px solid #000;
  box-shadow: 0 0 6px -1px #000;
  background-color: $theme-bg;
  display: flex;
  flex-direction: column;
  z-index: 1000;
  transition: all 0.01s ease;
  border: 1px solid #333;
  border-radius: 1px;
  overflow: hidden;
  
  &.fullscreen {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &.hidden {
    display: none;
  }

  .title-bar {
    position: relative;
    display: flex;
    align-items: center;
    padding: 10px 15px;

    color: $theme-fg;
    text-wrap: nowrap;
    font-size: 13px;
    font-weight: normal;
    
    background-color: $theme-dark;
    user-select: none;
    overflow: hidden;
    border-bottom: 1px solid #333;

    .actions {
      margin-left: auto;
      display: flex;
      gap: 5px;

      button {

        display: flex;
        align-items: center;
        justify-content: center;

        padding: 0;
        width: 20px;
        height: 20px;

        color: $color-b-8;
        font-size: 12px;
        
        background-color: $color-b-2;
        border: none;
        border-radius: 3px;
        

        &:hover {
          color: $color-w-6;
        }
      }
    }
  }

  .content {
    flex: 1;
    padding: 10px;
    overflow: auto;
  }

  .resize-handle {
    width: 15px;
    height: 15px;
    background-color: $theme-dark;
    position: absolute;
    bottom: 0;
    right: 0;
    cursor: se-resize;
    clip-path: polygon(0% 100%, 100% 0%, 100% 100%); 
  }
}
